#wrapper{
      position: relative;
      min-height: 100%;
}

html, body{
      height: 100%;
      margin: 0;
}

body{
      background: #f8f9f9;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #FFF;
	box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.logo{
	padding: 15px;
	padding-left: 50px;
	height: 80px;
	width: auto;
}

h2{
    text-align: center;
    color: #FFF;

}

h1{
    margin: 0;
}

footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background-color: #222222;
    height: 100px;
}

.copyright{
	color: #FFF;
	text-align: center;
	padding: 35px 0px;
	color: #bbbbbb;
	font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
article{
    padding-top: 100px;
    position: relative;
    text-align: center;
    padding-bottom: 100px;
}



#dodajStranko, #tabelaStrank, #terapijeStranka, #dodajTerapijo{
    display:inline-block;
    margin: 20px;
}

table{
    vertical-align: top;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #edeff1;
    border-radius: 5px;
    max-width: 80%;
}

table tbody{
    padding: 20px;
}

table thead{
  color: black;
}

table th, table td{
  text-align: center;
  padding: 10px
}

table a{
  color: black !important;
  text-decoration: none;
}
a:hover{
  color: #67b14b !important;
  text-decoration: none;
}

#tabelaStrank tbody tr:hover{
	background-color: #67b14b;
	cursor: pointer;
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 3.5px;
  color: #333333;
  }

input, textarea, select{
    border: none;
    border-radius: 1px;
    padding: 5px;
    background-color: #f2f2f2;
	color: #000;
    width: 200px !important;
    text-align: center;
}

input:focus, textarea:focus, select:focus{
    background-color: #67b14b;
    color: #FFF;
}

.button{
    background-color: #67b14b;
    border: none;
    padding: 10px 20px;
    color: #FFF;
    font-weight: bold;
    width: 200px;

}

#errorMessage{
  width: 400px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  background-color: #34495e;
  color: #67b14b;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  display: none;

}
